body {
    min-height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(bg.jpg);
    background-size: cover;
    position: relative;
}

.container {
    text-align: center;
    width: 500px;
    height: 240px;
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    padding: 20px;
    backdrop-filter: blur(5px);
}

button {
    margin-top: 15px;
    padding: 5px;
    font-size: medium;
    font-weight: bold;
}

input {
    width: 400px;
    height: 30px;
}
