* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    min-height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(120deg, rgb(223, 219, 29), rgb(197, 32, 32));
}

.calculator {
    flex: 0 0 40%;
    // background: whitesmoke;
}

.screen {
    width: 100%;
    font-size: 3.5rem;
    border: none;
    padding: 0.5rem;
    background: rgba(241, 241, 241, 0.6);
    margin-bottom: 0.3rem;
    text-align: center;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    transition: all 0.5s linear;
}

button {
    flex: 0 0 25%;
    padding: 0.8rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: whitesmoke;
}
.btn-equal {
    background: rgb(32, 148, 32);
    border: none;
}

.btn-clear {
    background: rgb(15, 15, 138);
}

.btn {
    background: rgb(26, 147, 151);
}