* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

#timer {
    flex: 0 0 80%;
    font-family: 'Orbitron', sans-serif;
    font-size: 6.5rem;
    color: #96c230f1;
}