body {
    min-height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('bg-img.png')center/cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.images {   
    flex: 0 0 50%;
    min-height: 60vh;
    background: url('bg.jpg')center/cover;
    position: relative;
    border-radius: 5px;

    .btn {
        display: inline-block;
        box-shadow: 3px 6px rgb(155, 154, 154);
    }

    .prevBtn {
        position: absolute;
        top: 45%;
        left: -5%;
    }

    .nextBtn {
        position: absolute;
        top: 45%;
        right: -5%;
    }
}

button {
    padding: 0.6rem;
    font-size: larger;
    font-weight: bold;
    border-radius: 9px;
}